@import 'sizes.scss';

.main {
  background-color: var(--sand);
  min-height: calc(100vh - 450px);
  position: relative;
}

.modal {
  background-color: var(--white);
  border-radius: $radius;
  bottom: 1rem;
  height: 200px;
  position: fixed;
  right: 1rem;
  width: 300px;
  z-index: 9;

  .closeModal {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.newsletterPopup {
  background-color: var(--sand);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  @media (max-width: $m) {
    display: block;
    width: calc(100% - 4rem);

    .newsletterImage {
      display: none;
    }
  }

  .newsletterImage {
    display: flex;

    @media (max-width: $m) {
      display: none;
    }
  }

  .mailchimFormWrapper {
    align-items: center;
    display: flex;
    padding: 2rem;
    position: relative;

    .closeBtn {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 2.4rem;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 1.6rem;

      span {
        background-color: var(--darker);
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        width: 100%;

        &:first-of-type {
          transform: rotate(-45deg);
        }

        &:last-of-type {
          transform: rotate(45deg);
        }
      }
    }
  }
}