@import 'sizes.scss';

.wrapper {
  margin: 6rem auto;
  max-width: $m;
  text-align: center;
  padding: 1rem;
}

.form input,
.form button {
  background-color: var(--sand);
  border: 1px solid var(--darkRosa);
  //border-radius: calc($radius / 3);
  font-size: .8em;
  margin-bottom: 1rem;
  width: 100%;
  padding: .6rem;
}

.container {
  margin: 2rem auto;
  max-width: $s;
}

.form input {
  color: var(--darkRosa);
}

.form button {
  background-color: var(--darkRosa);
  color: var(--sand);
  cursor: pointer;
  transition: 0.3s;
  transition-property: background-color;
}

.form button:hover {
  background-color: var(--dark);
  border-color: var(--dark);
  color: var(--sand);
  transition: 0.3s;
  transition-property: background-color;
}

.form input::placeholder {
  color: var(--lightDark)
}

.newsletter {
  align-items: center;
  background-color: var(--green);
  display: flex;
  min-height: 300px;
  margin-top: 6rem;
  padding: 3rem 1rem;

  @media (max-width: $m) {
    margin-top: 2rem;
  }

  .inner {
    margin-inline: auto;
    max-width: $m;
    text-align: center;
    width: 100%;

    p {
      font-weight: 300;
    }
  }
}

.signUpButton {
  background-color: var(--sand);
  border: 1px solid var(--sand);
  color: var(--darkGreen);
  display: inline-block;
  padding: 0.75rem 1rem;
}

.signUpButton:hover {
  background-color: var(--green);
  border: 1px solid var(--darkGreen);
  color: var(--darkGreen);
}

.mailChimpContainer {
  max-width: 400px;
  margin: 0 auto;

  form h2 {
    font-size: 1.5rem;
  }
}
